@font-face {
  font-family: 'NunitoSans';
  src: url('../assets/fonts/NunitoSans-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../assets/fonts/NunitoSans-SemiBold.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../assets/fonts/NunitoSans-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

